@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Roboto";
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #14213d;
  color: #ffffff;
  background: url(background.jpg);

}

header {
    background-color: #fca311;
    color: #0d1629;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 15vw;
}

.logo {
    font-size: 4.2rem;
    cursor: pointer;
}

ul {
    display: flex;
    gap: 4rem
}

ul > button {
    all:unset;
    font-size: 2.2rem;
    cursor: pointer;
}

/* homepage */

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15vw;
    margin-top: 13vh;
    gap: 2rem;
    font-size: 2.8rem;
    position: relative;
}

.homepage > p {
    width: 40vw;
}

.homepage > h1 {
    width: 40vw;
    color: #fca311;
}

.homepage > div {
    display: flex;
    gap: 3rem; 
}

.pizza {
    position: absolute;
    z-index: 0;
    left: 83rem;
    top: -3rem;
    box-sizing: content-box;
    height: auto;
    width: auto;
    border-radius: 0;
}

.homepage > div > button , .cards > div > button{
    height: 5rem;
    width: 18rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #fca311;
    border: 1px solid #fca211de;
    margin-top: 2rem;
    cursor: pointer;
}

.homepage > div > button:last-child {
    background-color: white;
}

/* menu */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.menu > h1 {
    font-size: 4.8rem;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

div > img {
    width: auto;
    height: 30rem;
    border-radius: 3rem;
}

.cards > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 2.5rem;
    gap: 1rem;
    
}

/* contact-us */

.contact-us {
    display: flex;
    align-items: center;
    height: 90vh;
    font-size: 2.8rem;
    line-height: 1.5;
}

.contact-us > div:first-child {
    margin-left: 15vw;
}

.contact-us > div > div > h1, .contact-us > div > div > h4 {
    color: #fca311;
}

.contact-us > div > div > p {
    width: 75%;
}


form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #fca311;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    width: 55rem;
    border-radius: 1rem;
    margin-right: 7.5vw;
}

input, textarea {
    height: 5rem;
    width: 45rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    font-size: 1.6rem;
}

textarea {
    height: 20rem;
}

input:focus, textarea:focus {
    outline: solid 2px #14213d; 
}

form > button {
    width: 45rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #fca211de;
    cursor: pointer;
    font-size: 1.6rem;
}